// ======================================= 
//
// 				   FONTS
//
// =======================================

@font-face {
  font-family: 'Ed 3';
  src: url('../fonts/Edmondsans-Bold.eot');
  src: url('../fonts/Edmondsans-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Edmondsans-Bold.woff') format('woff'),
       url('../fonts/Edmondsans-Bold.ttf')  format('truetype'),
       url('../fonts/Edmondsans-Bold.svg#f665bbf4c06ef0fa26f7aefb226afbb1') format('svg');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Ed 2';
  src: url('../fonts/Edmondsans-Medium.eot');
  src: url('../fonts/Edmondsans-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Edmondsans-Medium.woff') format('woff'),
       url('../fonts/Edmondsans-Medium.ttf')  format('truetype'),
       url('../fonts/Edmondsans-Medium.svg#dffdf410eda6d0e903115099b5e24d7c') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Ed 1';
  src: url('../fonts/Edmondsans-Regular.eot');
  src: url('../fonts/Edmondsans-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Edmondsans-Regular.woff') format('woff'),
       url('../fonts/Edmondsans-Regular.ttf')  format('truetype'),
       url('../fonts/Edmondsans-Regular.svg#7bbba12411bdd1eb69cf9e8a612ada82') format('svg');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Maven 1';
  src: url('../fonts/MavenProLight-100.eot');
  src: url('../fonts/MavenProLight-100.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MavenProLight-100.woff') format('woff'),
       url('../fonts/MavenProLight-100.ttf')  format('truetype'),
       url('../fonts/MavenProLight-100.svg#24de6cd323985189ede0f8509c41802e') format('svg');
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Maven 2';
  src: url('../fonts/MavenProLight-200.eot');
  src: url('../fonts/MavenProLight-200.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MavenProLight-200.woff') format('woff'),
       url('../fonts/MavenProLight-200.ttf')  format('truetype'),
       url('../fonts/MavenProLight-200.svg#d1be01f2759d5ccd316ca94e479271a7') format('svg');
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'Maven 3';
  src: url('../fonts/MavenProLight-300.eot');
  src: url('../fonts/MavenProLight-300.eot?#iefix') format('embedded-opentype'),
       url('../fonts/MavenProLight-300.woff') format('woff'),
       url('../fonts/MavenProLight-300.ttf')  format('truetype'),
       url('../fonts/MavenProLight-300.svg#ff9c206f470985553c9fec78a689067b') format('svg');
       
  font-style:   normal;
  font-weight:  200;
}

