// ======================================= 
//
// 		   Tour Section Styles
//
// =======================================

.container#tour {
	background-color: $yellow;
	@include bgYellow;


	& .wrap {


		& h1 {
			margin-bottom: 15px;
		}

		& ul {
			float: left;
			width: 100%;
			list-style: none;

			& li {
				float: left;
				width: 100%;
				background-color: #ffffff;
				padding: 0;
				font-size: 17px;
				line-height: 0.8em;
				text-decoration: none;
				color: #000000;

				&:nth-child(2n+1){
					background-color: #f1f1f1;
				}

				& > span {
					text-align: center;
					width: 25%;
					padding: 25px 0;
					display: inline-block;
					float: left;
					line-height: 1.1em;

					&:nth-child(1) { 
						// text-align: left;
						width: 25%;
						// padding-left: 5%;
					}

					&:nth-child(2) {
						width: 25%;
					}

					&:nth-child(3) {
						width: 25%;
					}

					&.tickets {
						width: 25%;
						padding: 17px 0;
						// text-align: right;

						& a {
							display: inline-block;
							padding: 8px 13px;
							background-color: #bebebe;
							text-decoration: none;
							text-transform: uppercase;
							font-size: 13px;
							color: #ffffff;
							opacity: 0.85;
							@include smoothie(0.22s);

							&:hover {
								opacity: 1;
							}
						}
					}
				}


				@media screen and (max-width: $tablet){
					width: 90%;
					padding: 20px 5%;

					& span {
						// text-align: left;

						&:nth-child(1){
							width: 100%;
							padding: 0 0 4px 0;
						}

						&:nth-child(2){
							width: 100%;
							padding: 0 0 4px 0;
						}

						&:nth-child(3){
							width: 100%;
							padding: 0 0 4px 0;
						}

						&:nth-child(4){
							width: 100%; 
							padding: 5px 0 0 0;

							& a {
								width: 100%;
								text-align: center;
								padding-left: 0;
								padding-right: 0;

							}
						}
					}
				}

				&.listHead {
					background-color: #202020;

					& > span {
						letter-spacing: 0.04em;
						color: #efefef;
						text-transform: uppercase;
						font-size: 18px;
						font-family: "Ed 3";
						padding-top: 27px;
						padding-bottom: 23px;
					}

					@media screen and (max-width: $tablet){
						display: none;
					}
				}
			}
		}
	}
}


